body{
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 10px;
    align-items: center;
  }

  .navbar img{
    width: 100px;
  }

  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
  }

  .navbar-menu li {
    position: relative;
  }

  .navbar-menu li a {
    color: #0e0c0c;
    text-decoration: none;
    transition: color 0.3s;
  }

  .navbar-menu li:hover > .submenu {
    display: block;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 10px;
    text-decoration: none;
  }

  .submenu li {
    margin: 5px 0;
  }

  .submenu li a {
    color: #060505;
    text-decoration: none;
    transition: color 0.3s;
  }

  .navbar-menu li a:hover,
  .submenu li a:hover {
    color: #5D48E0;
  }

  .navbar-button {
    background-color: #5D48E0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .navbar-button:hover {
    background-color: #5D48E0;
  }
  
/* banner */
.banner{
    background: url(/images/background.png);
    height:480px;
    margin-top: -40px;
}
.banner h1{
    text-align: center;
    font-family:  sans-serif;
    font-weight:100;
    color: rgb(45, 44, 44);
    margin-top: 50px;
    padding-top: 40px;
    font-size: 40px;
}

.span{
   font-weight: 800;
   color: black;
}
.banner p{
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 55%;
}

.banner button{
    width: 200px;
    height: 40px;
    background-color: #5D48E0;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    justify-content: center;
    place-items: center;
    display: flex;
    border-radius: 5px;
    border-style: none;
    margin-top: 20px;
}

.img_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.img_container img{
    width: 320px;
    height: 300px;
}
.img_container p{
    margin-top: -30px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

@media (max-width: 768px) {
  .banner{
    background: none;
    margin-top: -40px;
}
  .img_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    place-items: center;
}
}

/* 3rd section */
.section {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px;
    padding-top: 200px;
    background: linear-gradient(to right, #ffffff, #edebf5);
    height: 400px;
    justify-content: center;
    place-items: center;
}

  .column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    margin-left: 50px;
  }

  .column1 h2 {
    font-family:  sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 100;
  }

  .column1 p {
    margin-bottom: 20px;
    text-align: left;
  }

  .column2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: -80px;
  }

  .card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #e2def8;
    transform: rotate(-7.99deg);
    height: 180px;
  }
  @media (max-width: 768px) {
    .section {
      grid-template-columns: 1fr;
      padding-top: 100px;
      height: auto;
      background: none;
      margin-top: 1000px;
    }
  
    .column1 {
      margin: 0;
      text-align: center;
    }
  
    .column1 h2 {
      font-size: 30px;
      text-align: center;
    }
  
    .column2 {
      grid-template-columns: 1fr;
      gap: 20px;
      margin-top: 20px;
    }
    
    .card {
      height: auto;
    }
  }
/* comparison */
.comparison{
  background-color: #ffffff;
}
.comparison-title{
text-align: center;
line-height: 95%;
font-size: 40px;
}
.comparison p{
  text-align: center;
}

.custom-table {
  table-layout: fixed;
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 10px; /* Adding border radius */
  overflow: hidden;
  box-shadow:10px 10px 10px 10px rgb(251, 249, 255);
}

.custom-table th, .custom-table td {
  border-left:1px solid rgb(201, 199, 199);
  border-top:1px solid gray ;
  padding: 10px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
}
.custom-table th:first-child,
.custom-table td:first-child {
    border-left: none; /* Remove left border for the first cell in each row */
}
.custom-table th {
  background-color: #5D48E0;
  color: white;
  font-size: 15px;
  text-align: center;
}

.check-mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #d5cffe;
  color: #5D48E0;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.time{
  margin-top: 40px;
}

.time p{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin-left: 50px;
  font-size: 16px;
}
.time span{
  font-weight: 700;
}

/* service */
.service-title{
text-align: center;
font-size: 40px;
}

.service-description{
  text-align: center;
  line-height: 60%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin:0 auto ;
  justify-content: center;
  place-items: center;
  width: 50%;
  gap: 20px;

}

.custom-card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 260px;
  width: 200px;
  margin-top: 20px;

}

.custom-card img {
  width: 20%;
  max-height: 150px;
  object-fit: cover;
  margin-top: 40px;
  margin-left: 15px;
}
.card-description{
  font-size: 13px;
  height: 20px; /* Set a fixed height for the description paragraph */
  overflow: hidden;
  position: relative;
}

.card-content {
  padding: 5px;
}

.card-title {
  margin-top: 0;
}
.card-2{
  background-color: #5D48E0;
  color: white;
}
.card-2 img{
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  height: 45px;
  width: 40px;
}
.check2{
color: white;
}

.check {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #5D48E0;
  text-align: center;
  line-height: 20px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin:0 auto ;
    justify-content: center;
    place-items: center;
    width: 50%;
    gap: 20px;
  
  }
}



/* portfolio */
.portfolio {
  background: url(/images/bg-portfolio.png);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
}

.portfolio-title {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

.portfolio-description {
  text-align: center;
  margin-top: -30px;
  color: #b5b2b2;
}

.slider-container {
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  place-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: -10px;
  gap:50px;
}

.image-container img {
  height: 240px;

}

.slider {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.slider-title{
  font-size: 20px;
}
.slider h2{
  margin-top: -10px;
}
.slider h3{
  margin-top: -10px;
}
.slider p{
    font-size: 12px;
}

.slider-content {
  padding: 10px;
}


.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #686767;
  cursor: pointer;
}

.active {
  background-color: #ffffff;
}


@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    place-items: center;
    padding-top: 50px;
  }

  .portfolio {
    background:none;
    color: rgb(0, 0, 0);
    
  }
  .image-container img {
   display: none;
  
  }
  .slider-container {
    overflow: hidden;
    margin-top: -50px;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #030303;
    cursor: pointer;
  }
  
  .active {
    background-color: #6f67f9;
  }
}

/* business */

.section-business {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  width: 90%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

.section-business img {
  width: 500px;
  height: 310px;
  max-width: 100%;
}

.content-container {
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}
.content-container h2{
font-size: 40px;
margin-top: -50px;
}
.see-more {
  display: inline-block;
  color: #5D48E0;
  text-decoration: none;
  font-size: 16px;
}

.fa-arrow-right {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .section-business {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    place-items: center;
  }
  
}
/* review */
.review-section {
  text-align: center;
  padding: 20px;
  
}
.review-section h2{
  font-size: 40px;
}
.arrow-right{
  font-size: 13px;
  margin-top: -20px;
}
.section-review {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  place-items: center;
  margin: 0 auto;
  padding: 20px;
  color: #000;
  width: 80%;
}
.slide-title-review{
  text-align: left;
}
.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.review-slider {
  position: relative;
  flex: 1;
}

.review-slide {
  display: none;
  padding: 20px;
}
.slide-description{
  text-align: left;
}
.rating {
  color: gold;
  text-align: left;
}

.reviewer {
  align-items: center;
  margin-top: 10px;
  line-height:90% ;
}


.reviewer-name {
  font-weight: bold;
  margin-right: 5px;
  font-size: 18px;
  color: #5D48E0;
}
.reviewer-designation{
  font-size: 12px;
  margin-top: -50px;
}
.right-side {
  flex: 1;
}

.review-container {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.arrows{
  margin-top: 20px;
  color: #050042;
}
.review-container img {
  height: 320px;
}
.arrow-reviewer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 230px;
  margin-top: -30px;
}
@media (max-width: 768px) {
  .section-review {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    place-items: center;
    margin: 0 auto;
    padding: 20px;
    color: #000;
    width: 80%;
    margin-top: -60px;
  }
  .arrows{
    color: #050042;
  }
  .review-container img {
    height: 320px;
  }
  .review-section{
    margin-top: -320px;
  }
  .arrow-reviewer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    place-items: center;
  }
}

/* team */
.team-bg{
  background: url(/images/team-bg.jpg);
  height: 520px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 20px;
  margin-top: 100px;
  color: white;
}

.team-bg h2{
  text-align: center;
  font-size: 40px;
  padding-top: 50px;

}
.team-bg p{
  text-align: center;
  font-size: 13px;
  margin-top: -30px;
}
.team-bg h3{
  text-align: center;
  margin-top: -5px;
}

.team-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 auto;
  gap: 10px;
  margin-right: 70px;
}

.team-card {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  text-align: center;
}

.team-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.team-card h2 {
  margin-top: -20px;
  font-size: 1.5em;
  color: white;
}

.team-card p {
  margin-top: -15px;
  font-size: 13;
  color: 
  white;
}

/* Media Queries */

@media (max-width: 768px) {

  .team-bg{
    background: none;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -30px;
    color: rgb(0, 0, 0);
    margin-bottom: 1200px;
  }
  .team-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: 0 auto;
    margin-right: 70px;
  }

  .team-bg h2{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #030303;
  }
  .team-bg p{
    text-align: center;
    font-size: 13px;
    margin-top: -20px;
    color: #000;
  }
  .team-card img {
    height: auto;
  }
}




/* review */
.custom-slider-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.custom-slider-container {
  display: flex;
  align-items: center;
}

.custom-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.custom-slider-item {
  display: none;
}

.custom-rating {
  margin-top: 10px;
}

.custom-reviewer-info {
  margin-top: 10px;
  font-style: italic;
}

.custom-image-container {
  flex: 1;
  padding-left: 20px;
}

.custom-image-container img {
  max-width: 100%;
  height: auto;
}

.custom-slider-control {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

 /* our blog */
 .blog-section {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 130px;
}

.section-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.section-description {
  font-size: 16px;
  color: #888;

}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  place-items: center;
margin-top: -20px;
}

.blog-post {
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.blog-post img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.blog-post h3 {
  font-size: 18px;
  margin-bottom: 10px;
 color: #050042;
}

.blog-post p {
  font-size: 14px;
  color: #3B3E4E;
  margin-bottom: 10px;
}

.read-more {
  color: #2D28FF;
  text-decoration: none;
}

@media (max-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    place-items: center;
    padding-top: 50px;
  }
}
/* contact us */
.contact-section {
  padding: 40px 0;
  background-color: #5D48E0;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
  margin-top: -120px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-content h3 {
  color: white;
  font-size: 30px;
  margin: 0;
  line-height: 70%;
}

.contact-button {
  display: inline-block;
  background-color: white;
  color: #5D48E0;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}


/* footer */
.footer {
  background-color: #050042;
  color: white;
  padding: 20px 0;
  padding-top: 30px;
}

.all_Column {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  place-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.footer-column{
  height: 200px;
  width: 100px;
}

.footer-column h4 {
  font-size: 15px;
  margin-bottom: 10px;
  height: 40px; /* Set a fixed height for all h4 tags */
}

.footer-column img{
  width: 90px;
  height: 20px;
  margin-top: 23px;
}


.footer-column p {
  font-size: 12px;
  margin-top:13px ;

}
.web{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin-left: 140px;
  margin-right: 100px;
  margin-top: 40px;
}
.footer_text{
  border-top: 1px solid gray;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 768px) {
  .contact-section {
   display: none;
  }
  .all_Column {  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    place-items: center;
  }
  .web{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    place-items: center;
    margin-top: -60px;
    gap:10px
  }
}

